<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% block style %}/static/css/home.css{% endblock %}">
    <link rel="icon" href="/static/images/logo.png">

    <title>{% block title %}Game of Words{% endblock %}</title>
</head>
<body>
    <div class="account-info-div">
        <span class="account-info-span">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </span>
    </div>

    <main>
        <div class="container">

            <div class="container-logo">
                <img src="/static/images/logo.png" alt="logo" title="Made this fennec myself long time ago :)">
            </div>
            
            <div class="container-title">
                <h1>Game of Words</h1>
                <p>Play as <span>much</span> as you <span>want</span></p>
            </div>

            <div class="container-form">
                <a href="/game" class="btn-filled">Play</a>
                <div class="or">
                    <span>or</span>
                </div>
                <a href="/logout" class="btn-clear">Sign out</a>
            </div>

        </div>
    </main>

    <nav>
        <a href="/about">About</a>
    </nav>

    {% block main %}{% endblock %}

</body>
</html>